{% assign previous = page.number | minus: 1 | floor %}
{% assign current = page.number | floor %}
{% assign next = page.number  | plus: 1 | floor %}

{% if page.type == "session"%}
  {% assign oppositeType = "recap" %}
{% else %}
  {% assign oppositeType = "session" %}
{% endif %}

{% assign oppositeTypeTitle = oppositeType | capitalize %}

<style>
  .nav {
    text-decoration: none;
    font-weight: 500;

  }

  .previous,.next {
    padding-left: 10px;
    padding-right: 10px;
  }
</style>

<div class="nav">
    {% unless page.position == "first" %}
    <a class="previous" href=".\{{page.type}}-{{previous}}">&lt;</a>
    {% endunless %}

    <a href=".\{{oppositeType}}-{{current}}">{{oppositeTypeTitle}}</a>

    {% unless page.position == "last" %}
    <a class="next" href=".\{{page.type}}-{{next}}">&gt;</a>
    {% endunless %}
</div>